{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf%} {% import 'macros.html' as macro%} {% block content %}
<div class="container">
    <div class="row rel">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    {{wtf.quick_form(case_form)}}
                </div>
                {{macro.displayCases(cases)}}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}