{%extends "base.html"%}
{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/about.css')}}">
{%endblock%}
{%block content%}

<div class="container">

        <h1 class="text-center" style="font-family: 'Major Mono Display', monospace; font-size: 70px;">Legal Update Lawfirm</h1>
        <div class="text-center">
                <p><i class="fa fa-balance-scale fa-5x" ></i></p>
            </a>
        </div>
        <div class="content">
            <h3>Legal Update</h3>
            <p class="my-2">

            </p>
            <p>
                The legal_update was created whereby clients can view their files cases which have been posted by the lawyers.For this to be done the client and the lawyer need to have accounts.The lawyer will upload the files and the client will be getting the update immediately.Clients have the chance to make comments about the files which are being worked on.
            </p>
            <h3 class="my-4">Mission</h3>
            <p>

            </p>

            <h3 class="my-4">Policies</h3>
            <p>

                    We endevour to use technology to provide more legal services to our clients

            </p>
            <h3 class="my-5">Cases we deal with</h3>
            <p>
                <span class="my-1">Here are some of the cases we focus on</span>
                <ul>
                    <li>
                        1.Criminal Cases
                        </li>
                    <li>
                        2.Civil Cases
                    </li>
                    <li>
                        3.Divorce Cases
                    </li>

                </ul>
            </p>
            <h3 class="my-7">Testimonials</h3>
            <p>
                <span class="my-1">Here are some our former clients and their sentiments on our services</span>
                <ul>
                    <li></li>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
            </p>
            <h3 class="my-8">Contact Us</h3>
            <p>
                <span class="my-1">You can reach us through the following contact details</span>
                <ul>
                    <li></li>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
            </p>
            <div class="my-cards">
              <div class="card-columns">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card shadow" style="width: 19rem;">
                      <div class="inner">
                        <img
                          class="card-img-top"
                          src="static/photos/asana.jpg"
                          alt="card image cap"
                        />
                      </div>

                      <div class="card-body text-center">
                        <h5 class="card-title">Lawyers Portal</h5>
                        <p class="card-text">Client & File Management</p>
                        <a href="{{url_for('auth.login')}}" class="btn btn-primary">Sign In</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
</div>
{%endblock%}


